.bill_board_video {
  position: relative;
  height: 100vh;
  width: 100vw;

  .movie_heading_container {
    position: absolute;
    top: calc(50% - (380px / 2));
    left: 0;
    padding-left: 3%;
    height: 380px;
    width: 40%;
    z-index: 1;

    .movie_heading_title {
      font-family: Nunito_Sans, sans-serif;
      font-weight: 600;
      font-size: 7.4vw;
      line-height: 1;
      letter-spacing: 0;
      text-align: left;
      color: #FFFFFF;
      margin: 0;
      mix-blend-mode: difference;
    }

    .movie_details {
      p {
        font-family: Nunito_Sans, sans-serif;
        font-weight: 400;
        font-size: 1.2vw;
        line-height: normal;
        letter-spacing: 0;
        color: #FFFFFF;
      }

      .call_to_action {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 2rem 0;

        .btn {
          align-items: center;
          appearance: none;
          cursor: pointer;
          display: flex;
          justify-content: center;
          opacity: 1;
          //padding: 0.8rem;
          position: relative;
          user-select: none;
          will-change: background-color, color;
          word-break: break-word;
          white-space: nowrap;
          -webkit-backface-visibility: hidden;
          -moz-osx-font-smoothing: grayscale;

          padding: 0.8rem 1.25rem;
          font-size: 20px;
          font-weight: 700;
          border-radius: 50px;
          width: 200px;
          transition: all 300ms;

          &.icon_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
          }


          &.primary {
            color: #222831;
            background: #F5F5DC;
            border: 2px solid #F5F5DC;

            &:hover {
              color: #F5F5DC;
              border-color: #222831;
              background-color: #222831;
            }
          }

          &.secondary {
            color: white;
            background: goldenrod;
            border: 2px solid goldenrod;

            &:hover {
              color: #FFFFFF;
              border-color: #2C2C2C;
              background-color: #2C2C2C;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .bill_board_movie {
    .movie_heading_container {
      padding-left: 60px;
    }
  }
}


@media (min-width: 1281px) and (max-width: 1440px) {
  .bill_board_video {
    height: 100%;

    .bill_board_movie {
      .movie_heading_container {
        top: calc(50% - 205px);
        height: 330px;

        .movie_details {
          p {
            font-family: Poppins, sans-serif;
            font-weight: 400;
            font-size: 1.6vw;
            line-height: 1;
            font-kerning: normal;
            letter-spacing: normal;
          }

          .call_to_action {
            .btn {
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1280px){
  .bill_board_video {
    height: 100%;

    .bill_board_movie {
      .movie_heading_container {
        top: calc(50% - 225px);
        height: 310px;

        .movie_details {
          p {
            font-family: Poppins, sans-serif;
            font-weight: 400;
            font-size: 1.6vw;
            line-height: 1;
            font-kerning: normal;
            letter-spacing: normal;
          }

          .call_to_action {
            .btn {
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .bill_board_video {
    height: 100%;

    .bill_board_movie {
      .movie_heading_container {
        top: calc(50% - 135px);
        height: 270px;
        width: 50%;

        .movie_details {
          p {
            font-family: Poppins, sans-serif;
            font-weight: 400;
            font-size: 2vw;
            line-height: 1;
            font-kerning: normal;
            letter-spacing: normal;
            margin-top: 8px;
          }

          .call_to_action {
            .btn {
            }
          }
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .bill_board_video {
    height: 100%;
    width: 100vw;

    .bill_board_movie {
      .movie_heading_container {
        top: calc(50% - 135px);
        height: 270px;
        width: 50%;

        .movie_details {
          p {
            font-family: Poppins, sans-serif;
            font-weight: 400;
            font-size: 2vw;
            line-height: 1;
            font-kerning: normal;
            letter-spacing: normal;
            margin-top: 8px;
          }

          .call_to_action {
            .btn {
            }
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px){
  .bill_board_video {
    height: 100%;
    width: 100vw;

    .bill_board_movie {
      position: relative;
      .movie_heading_container {
        top: unset;
        bottom: 0;
        padding: 0 1.3rem;
        height: auto;
        width: 100%;

        .movie_details {
          p{
            font-size: 2.5vw;
            padding-right: 40%;
            margin-top: 5px;
          }
          .call_to_action {
            margin: 2rem 0;
            gap: 8px;
            font-size: 13px;
            .btn {
              width: 145px;
              padding: 0.8rem 1.2rem;

              svg {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}