.main {
  background: #141414;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-items: center;
  //padding: 6rem;
  min-height: 100vh;
  min-width: 100vh;

  .bill_board_video{
    display: block;
    position: relative;
    height: 100vh;
    width: 100vw;
  }
}

/*desktops - higher resolution*/
@media (min-width: 1281px) and (max-width: 1440px){
  .main {
    position: relative;
  }

}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px){

}


@media (min-width: 768px) and (max-width: 1024px){}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
  .main {
    //padding: 6rem;
    min-height: 100%;
    min-width: 100vh;

    .bill_board_video{
      height: 100%;
      width: 100vw;
    }
  }
}


@media (min-width: 481px) and (max-width: 767px){
  .main {
    //padding: 6rem;
    min-height: 100%;
    min-width: 100vh;

    .bill_board_video{
      height: 100%;
      width: 100vw;
    }
  }
}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px){}


@media screen and (max-width: 320px) {

}

@media (min-width: 701px) and (max-width: 1280px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 640px) and (max-width: 960px) {
}


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}