.movie_by_category {
  overflow: hidden;

  .section__header {
    .section__header_title {
      font-size: 1.4vw;
      line-height: 1.25vw;
      text-align: left;
    }
  }

  .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;

    .embla__button {
      background-color: transparent;
      touch-action: manipulation;
      text-decoration: none;
      cursor: pointer;


      border-radius: 50%;
      color: var(--text-body);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.6rem;
      height: 3.6rem;
      z-index: 1;
    }
  }
}


